
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    background: 
    #444444,
    linear-gradient(135deg, rgba(51, 51, 51, 0.7), rgba(26, 26, 26, 0.7));
    background-size: cover;
    background-position: center;
}
.form_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*top 50% and left 50% center by top right of the square, so this fixes it to the middle*/
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 550px;
}

.form_flex{
    display: flex;
    flex-direction: column;
}

.form_box h2 {
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px black;
}

.form_box input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}

.form_box input::placeholder {
    color: #ccc;
}

.form_box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f5a316;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e58e00;
}



.switch_text {
    margin-top: 15px;
    font-size: 14px;
}

.switch_text a {
    color: #f5a316;
    text-decoration: none;
}


